<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a class="brand-logo" href="{% url 'home' %}">Esports Arena</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'about' %}">Nosotros</a></li>
        <li><a href="{% url 'tournaments' %}">Torneos</a></li>
        {% if request.user.is_authenticated %}
          <li>
            <a class="dropdown-trigger" href="#!" data-target="user-dropdown">
              {{request.user.username}} <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <ul id="user-dropdown" class="dropdown-content">
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
          </ul>
        {% else %}
          <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
